body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

.card {
    background: white;
    padding: 20px;
    width: 40%;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.btn {
    text-decoration: none;
    background: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.form-box input, .form-box textarea {
    width: 300px;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
