<!DOCTYPE html>
<html>
<head>
    <title>Contact Me</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Contact Me</h1>

<form action="/contact" method="POST" class="form-box">
    <input type="text" name="name" placeholder="Your Name" required><br>
    <input type="email" name="email" placeholder="Your Email" required><br>
    <textarea name="message" placeholder="Your Message" required></textarea><br>
    <button type="submit">Send Message</button>
</form>

</body>
</html>
